<launch>
  <param name="robot_description" textfile="/home/shsiung/catkin_ws/src/using_markers/src/urdf/airplane.xml"/>

  <node pkg="using_markers" type="simulated_plane.py" name="plane_sim" output="screen">
  </node>

  <node pkg="using_markers" type="markersPython.py" name="path_planning" output="screen">
  </node>
</launch>